@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.cell-head {
  @apply text-gray-500 font-medium text-sm text-left px-2 py-1.5;
}

.cell-body {
  @apply font-medium text-sm text-left px-2 py-1.5;
}

.bg-pattern {
  background-image: url('/pattern.svg');
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: bottom 7px right 7px;
}

@media only screen and (max-width: 640px) {
  .bg-pattern {
    background-size: 80px 80px;
  }
}