@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.table-stats {
  table {
    table-layout: auto;
  }

  tr th {
    @apply text-gray-500 dark:text-gray-400;
    @apply font-medium text-sm text-left;
    @apply px-2 py-1.5;

  }

  tr td {
    @apply font-medium text-sm text-left;
    @apply px-2 py-1.5;
  }

}